@import "tailwindcss";

@theme {
    --color-bg: var(--bg);
    --color-fg: var(--fg);

    --color-primary: var(--primary);
    --color-primary-fg: var(--primary-fg);

    --color-secondary: var(--secondary);
    --color-secondary-fg: var(--secondary-fg);

    --color-accent: var(--accent);
    --color-accent-fg: var(--accent-fg);

    --color-card: var(--card);
    --color-border: var(--border);
    --color-muted: var(--muted);

    --spacing-nav-h: 4rem;

    @keyframes cursor-blink {
        0%, 100% { opacity: 1; }
        50% { opacity: 0; }
    }
}

:root {
    --bg: rgb(248, 250, 252);
    --fg: rgb(2, 5, 23);

    --primary:    rgb(60, 131, 246);
    --primary-fg: rgb(255, 255, 255);

    --secondary:    rgb(124, 59, 237);
    --secondary-fg: rgb(255, 255, 255);

    --accent:    rgb(7, 182, 213);
    --accent-fg: rgb(2, 6, 23);

    --card:   rgb(255, 255, 255);
    --muted:  rgb(100, 116, 139);
    --border: rgb(209, 219, 231);
}

.dark, .dark * {
    --bg: rgb(3, 5, 7);
    --fg: rgb(232, 235, 253);

    --primary:    rgb(9, 80, 195);
    --primary-fg: rgb(255, 255, 255);
    
    --secondary:    rgb(83, 18, 196);
    --secondary-fg: rgb(255, 255, 255);
    
    --accent:    rgb(42, 217, 248);
    --accent-fg: rgb(2, 6, 23);

    --card:   rgb(10, 14, 19);
    --muted:  rgb(148, 163, 184);
    --border: rgb(48, 54, 61);
}

@layer base {
    * {
        transition-property: 
            background-color,
            border-color,
            color,
            fill,
            stroke,
            text-decoration-color ;
        
        transition-duration: .25s ;
        transition-timing-function: ease ;
    }

    html, body, #root {
        min-height: 100%;
    }

    body {
        background-color: var(--bg);
        color: var(--fg);

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.cursor-blink {
    display: inline-block;
    width: 2px;
    height: 1em;
    background-color: currentColor;
    margin-left: 2px;
    vertical-align: middle;
    animation: cursor-blink 1s step-end infinite;
}
